.services {
  h2 {
    padding-top: 20px;
    border-bottom: 1px solid wheat;
    color: whitesmoke;
  }
}
.slider-container {
  width: 1101px;
  min-height: 50px;
  background-color: rgb(25, 27, 31);
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .box {
    position: relative;
    width: 200px;
    height: 200px;
    align-content: center;
    background-color: rgb(42, 46, 53);
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    .details {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      background-color: rgba(25, 27, 31, 0.438);
      .grph2 {
        margin-top: 33px;
      }
    } //details
    .imgbox {
      position: relative;
      overflow: hidden;

      img {
        transition: transform 2s;
        max-width: 120%;

        height: 200px;
      }
    }
  } //box
  .box:hover {
    .imgbox img {
      transform: scale(1.2);
    }
  }
} //sldcont
